; -*- mode: clojure; -*-
; vim: filetype=clojure

(logging/init {:file "riemann.log"})

(instrumentation {:interval 1})

(rabbitmq-client {:host "rabbitmq"})

(periodically-expire 1 {:keep-keys [:host :service :tags :time :ttl]})

(let [index (index)]
  (streams
    (default :ttl 3
      ; (where (not (service #"^riemann "))
      ;   prn)
      (expired #(prn "Expired" %))
      (where (not (service #"^riemann "))
             index))))

