; -*- mode: clojure; -*-
; vim: filetype=clojure

(logging/init {:file "riemann.log"})

(def opts
  (let [opts {:host "rabbitmq"}]
    (if-let [routing-key (System/getenv "HOSTNAME")]
      (assoc opts :routing-key routing-key)
      opts)))

(rabbitmq-transport opts)

(info "started with" opts)

(periodically-expire 1 {:keep-keys [:host :service :tags :time :ttl]})

(let [index (index)]
  (streams
    (not-expired
      (where (not (service #"^riemann.+$"))
        index
        #(info %)))
    (expired
      #(info "EXPIRED:" %))))

